---
layout: default
---

<div class="pb-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h1 class="">针对 Go 语言开发者精心设计课程</h1>
        <h2 class="lead">已经有 1000 名 Gopher 和你一起在这里学习。</h2>
        <p class=""><a class="btn btn-success btn-lg" href="/users/sign_up">立即开始学习</a></p>
      </div>

      <div class="col-sm-6 ml-auto">
        <div class="terminal-window terminal-fixed-height">
          <header>
            <div class="button green"></div>
            <div class="button yellow"></div>
            <div class="button red"></div>
          </header>
          <section class="terminal img-raised">
            <div class="history">
            </div>
            $&nbsp;<span class="prompt"></span><span class="typed-cursor">|</span><span class="typed-cursor"></span><span class="typed-cursor"></span><span class="typed-cursor"></span><span class="typed-cursor"></span>
            <span class="typed-cursor"></span>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="pt-5 pb-5 dark-section">
  <div class="container">
    <div class="section bordered large-icons products">
      <div class="row">
        <div class="col-sm-6 text-center">
          <a href="/episodes">
            <img class="img-fluid rounded img-raised"
            src="http://p2lg64wh6.bkt.clouddn.com/cover.jpg"
            style="width:400px;height:200px;">
          </a>
        </div>
        <div class="col-sm-6">
          <h3>Go零基础编程入门教程</h3>
          <p class="text-muted">一步一步学习 Go 基础知识，从入门到精通，掌握 21 世纪云计算语言。</p>
          <p><strong><a class="btn btn-outline-primary" href="https://space.bilibili.com/276273794/#/" target="_blank">立即学习 →</a></strong></p>
        </div>
      </div>

      <br>
      <br>

      <!-- <div class="row">
        <div class="col-sm-6">
          <h3>Prometheus 实战</h3>
          <p class="text-muted">xxx.</p>
          <p><strong><a target="blank" class="btn btn-outline-primary" href="https://courses.binatify.com/payments-with-stripe-and-rails-master-class">立即学习 →</a></strong></p>
        </div>
        <div class="col-sm-6">
          <a target="blank" href="https://courses.binatify.com/payments-with-stripe-and-rails-master-class"><img class="img-fluid rounded img-raised" src="/assets/courses/stripe-d263af16417cb846fef9fb60d8e9da3bf2413f7f82b9fac91936b6efafd8a8bb.jpg" alt="Stripe"></a>
        </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col-sm-6 text-center">
          <a target="blank" href="https://hatch.binatify.com"><img class="img-fluid rounded img-raised" src="/assets/homepage/hatch-71f054d886f93a4e3f5283634261036aa3831ef9e176e199a9d92fe997c6ce14.png" alt="Hatch"></a>
        </div>
        <div class="col-sm-6">
          <h3>Go WEB 开发实战</h3>
          <p class="text-muted">xxx.</p>
          <p><strong><a target="blank" class="btn btn-outline-primary" href="https://hatch.binatify.com">立即学习 →</a></strong></p>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="section pt-5 pb-5">
  <div class="container">
    <h2 class="text-center">最新视频</h2>
    {% assign episodes = site.episodes | sort: 'datetime' | reverse %}
    {% for episode in episodes limit:5 %}
      <div class="episode" id="episode_{{episode.id}}">
        <a href="{{episode.url}}" target="_blank">
          <div class="row">
            <div class="col-sm-3">
              <div class="episode-thumbnail">
                <img class="img-fluid" src="{{episode.cover}}">
                <span class="episode-length">{{episode.time}}</span>
              </div>
            </div>
            <div class="col">
              <h3 style="margin-top:0px">
                {{episode.title}}
              </h3>
              <div class="text-muted">
                <small>
                  {% if episode.isnew %}
                    <span class="badge badge-primary">New!</span> ·
                  {% endif %}
                  <strong>#{{episode.number}}</strong>
                  ·
                  <span>{{episode.datetime}}</span>
                </small>
              </div>
                <div class="text-muted episode-description">
                  {{episode.preview}}
                </div>
            </div>
          </div>
        </a>
      </div>
      <hr>
    {% endfor %}

    <div class="text-center mt-5">
      <a class="more-episodes plain-link" href="/episodes?page=2">查看更多课程 <i class="fa fa-caret-down"></i></a><p></p>
    </div>
  </div>
</div>


<!-- <div class="section pt-5 pb-5 dark-section">
  <div class="container">
    <h2 class="mb-5 text-center">用户反馈</h2>
    <div class="row">
      <div class="col-sm-4">
        <blockquote class="twitter-tweet" data-conversation="none" data-lang="en">
          <p lang="en" dir="ltr">
            xxxxx.
            — xxx (@klappradla) <a href="https://twitter.com/klappradla/status/684668290258591744">2016-11-07 09:07:35 -0600</a>
          </p>
        </blockquote>
      </div>
    </div>
    <p class="text-center"><a href="/testimonials">查看更多</a></p>
  </div>
</div> -->
<hr>
