<footer role="contentinfo">
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div><a href="/"><img class="img-fluid hidden-xs" style="max-height: 20px" src="" alt=""></a></div>
        <br class="hidden-xs">
        <div><small><a href="" target="_blank">© 2017-2018, binatify</a></small></div>
      </div>

      <!-- <div class="col-sm-2 col-xs-4">
        <div><strong>教学内容</strong></div>
        <div><a href="/series">集合</a></div>
        <div><a href="/episodes">视频教程</a></div>
        <div><a href="/guides">技术指南</a></div>
      </div> -->

      <!-- <div class="col-sm-2 col-xs-4">
        <div><strong>其他</strong></div>
        <div><a href="/blog">博客</a></div>
        <div><a target="blank" href="https://courses.binatify.com/">合作课程</a></div>
      </div> -->

      <!-- <div class="col-sm-2 col-xs-4">
        <div><strong>关于</strong></div>
        <div><a href="/terms">协议</a></div>
        <div><a href="/privacy">隐私</a></div>
        <div><a href="/about">关于我们</a></div>
      </div> -->
<!--
      <div class="col-sm-3 col-xs-12">
        <br class="visible-xs">
        <data data-token="" class="mj-w-data" data-apikey="1ywk" data-w-id="2l5" data-lang="en_US" data-base="https://app.mailjet.com" data-width="640" data-height="374" data-statics="statics"></data>
        <div data-token="" class="mj-w-btn" style="color: white; padding: 0px 25px; background-color: rgb(240, 98, 43); text-align: center; vertical-align: middle; display: inline-block; border-radius: 3px; cursor: pointer;">
          <div style="display: table; height: 45px;">
            <div style="display: table-cell; vertical-align: middle;">
              <div style="font-family:Ubuntu, Helvetica; display: inline-block; text-align: center; font-size: 13px; vertical-align: middle;"><b>订阅我们</b></div>
            </div>
          </div>
        </div>
        <hr class="hidden-xs">
        <a href="" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">关注 @binatify</a>
        <a href="" class="twitter-share-button" data-url="" data-count="horizontal" data-via="excid3" data-related="excid3:Creator of binatify">微博</a>
      </div> -->
    </div>
  </div>
</footer>
{% js app %}
