<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img title="GoRails" height="20" src="/assets/logo-white-a59a16997c678edb493004e0c5862e09f19d66de473584441e92bdf9d1cddd48.svg" alt="Logo white">
</a>    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item "><a class="nav-link" href="/episodes">Episodes</a></li>
        <li class="nav-item "><a class="nav-link" href="/series">Series</a></li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/guides">
              Guides <b class="caret"></b>
</a>            <div class="dropdown-menu">
              <a class="dropdown-item" href="/setup">Setup Ruby on Rails</a>
              <a class="dropdown-item" href="/deploy/ubuntu">Deploy Ruby on Rails</a>
              <a class="dropdown-item" href="/deploy/actioncable">Deploy ActionCable</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/guides/free-ssl-with-rails-and-nginx-using-let-s-encrypt">Free SSL for Rails and Nginx using Let's Encrypt</a>
                <a class="dropdown-item" href="/guides/hourly-production-server-database-and-file-backups">Hourly Production Server Database And File Backups</a>
                <a class="dropdown-item" href="/guides/rotating-rails-production-logs-with-logrotate">Rotating Rails Production Logs with LogRotate</a>
                <a class="dropdown-item" href="/guides/setting-up-rails-4-with-mongodb-and-mongoid">Setting Up Rails 4 with MongoDB and Mongoid</a>
                <a class="dropdown-item" href="/guides/upgrading-postgresql-version-on-ubuntu-server">Upgrading PostgreSQL Version on Ubuntu Server</a>
                <a class="dropdown-item" href="/guides/using-vagrant-for-rails-development">Using Vagrant for Rails Development</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-center" href="/guides">See All Guides</a>
            </div>
          </li>
        <li class="nav-item "><a class="nav-link" href="/forum">Community</a></li>
      </ul>

      <form class="ml-md-auto mr-3 form-inline" action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
        <div class="form-group">
          <div class="easy-autocomplete"><input type="text" name="q" id="q" class="form-control search-input" placeholder="What do you want to learn?" style="min-width: 16em" autocomplete="off"><div class="easy-autocomplete-container" id="eac-container-q"><ul></ul></div></div>
        </div>
</form>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
          <li class="nav-item"><a class="nav-link" href="/users/sign_in?redirect_to=%2F">Login</a></li>
          <li class="nav-item"><a class="nav-link text-success" href="/users/sign_up">Sign Up</a></li>
        </ul>

    </div>
  </div>
</nav>
