<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img title="GoRails" height="20" src="/assets/logo-white-a59a16997c678edb493004e0c5862e09f19d66de473584441e92bdf9d1cddd48.svg" alt="Logo white">
</a>    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item "><a class="nav-link" href="/episodes">课程</a></li>
        <li class="nav-item "><a class="nav-link" href="/series">专辑</a></li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/guides">
              教程 <b class="caret"></b>
</a>            <div class="dropdown-menu">
              <a class="dropdown-item" href="/setup">Setup Ruby on Rails</a>
              <a class="dropdown-item" href="/deploy/ubuntu">Deploy Ruby on Rails</a>
              <a class="dropdown-item" href="/deploy/actioncable">Deploy ActionCable</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/guides/free-ssl-with-rails-and-nginx-using-let-s-encrypt">Free SSL for Rails and Nginx using Let's Encrypt</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-center" href="/guides">查看所有教程</a>
            </div>
          </li>
      </ul>

      <form class="ml-md-auto mr-3 form-inline" action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
        <div class="form-group">
          <div class="easy-autocomplete"><input type="text" name="q" id="q" class="form-control search-input" placeholder="搜索你想学的内容?" style="min-width: 16em" autocomplete="off"><div class="easy-autocomplete-container" id="eac-container-q"><ul></ul></div></div>
        </div>
      </form>
      <ul class="navbar-nav">
      </ul>
    </div>
  </div>
</nav>
